In [1]:
import pymongo

In [2]:
from pymongo import MongoClient

In [3]:
connection = MongoClient('localhost', 27017)

In [4]:
db = connection.smart_hospital

In [5]:
data = db.covid

In [6]:
dblist = data.find()

In [7]:
dblist

In [8]:
import pandas as pd
df = pd.DataFrame(list(data.find()))

In [9]:
df.shape

(2148, 7)

In [10]:
df.drop(['_id'],axis =1,inplace = True)

In [11]:
df.head()

       feaver  bodypain  age  runnynose  diffbreath  infectionprob
0   99.219947         0   35          1           0              0
1   98.779933         1   28          0           0              0
2  101.417093         0    1          0           1              1
3   98.185998         0   93          1          -1              0
4   98.352495         1   33          0          -1              0

In [12]:
df.describe()

,feaver,bodypain,age,runnynose,diffbreath,infectionprob
count,2148.000000,2148.000000,2148.000000,2148.000000,2148.000000,2148.000000
mean,99.979151,0.513966,50.730447,0.502793,-0.028864,0.486034
std,1.163592,0.499921,29.117936,0.500109,0.826948,0.499921
min,98.002958,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,98.973072,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.972453,1.000000,50.000000,1.000000,0.000000,0.000000
75%,101.007336,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999472,1.000000,100.000000,1.000000,1.000000,1.000000

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2148 entries, 0 to 2147
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   feaver         2148 non-null   float64
 1   bodypain       2148 non-null   int64
 2   age            2148 non-null   int64
 3   runnynose      2148 non-null   int64
 4   diffbreath     2148 non-null   int64
 5   infectionprob  2148 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 100.8 KB

In [15]:
df.columns

Index(['feaver', 'bodypain', 'age', 'runnynose', 'diffbreath',
       'infectionprob'],
      dtype='object')

In [17]:
df.isnull().sum()

feaver           0
bodypain         0
age              0
runnynose        0
diffbreath       0
infectionprob    0
dtype: int64

In [18]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [19]:
np.random.permutation(7)

array([4, 2, 0, 6, 1, 5, 3])

In [20]:
train, test = data_split(df, 0.2)
print(f"Rows in train set: {len(train)}\nRows in test set: {len(test)}\n")

Rows in train set: 1719
Rows in test set: 429

In [21]:
X_train = train[['feaver','bodypain','age','runnynose','diffbreath']].to_numpy()
X_test = test[['feaver','bodypain','age','runnynose','diffbreath']].to_numpy()

In [22]:
Y_train = train[['infectionprob']].to_numpy().reshape(1719,)
Y_test = test[['infectionprob']].to_numpy().reshape(429,)

In [23]:
Y_train

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

## Logistic Regression

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [26]:
feature=[100,1,22,1,1,]
infprob = clf.predict_proba([feature])[0][1]

In [27]:
infprob

0.46027747656521406

In [28]:
from joblib import dump, load
dump(clf, 'corona.joblib')

['corona.joblib']